body {
    background-color: white;
}
.ATC-wrapper {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.ATC-headers {
    margin-top: 50px;
    max-width:1200px ;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;
    letter-spacing: 0.5px;
}
.ATC-header {
    margin: 0;
    margin-bottom: 10px;
}

.ATC-header__sm {
    font-weight: 500;
    margin-top: 0px;
    font-size: 30px;
}

.ATC-options {
    display: flex;
    flex-direction: row;
}
.ATC-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ATC-option__img img {
    border-radius: 30px;
    width: 470px;
    height: 500px;
    margin-right: 25px;
    margin-bottom: 7px;
}

.ATC-option__txt {
    border: 1px black solid;
    border-radius: 30px;
    padding: 20px;
    min-width: 320px;
    font-size: 22px;
    line-height: 30px;
}