body {
  background-color: white;
}

.ATC {
  &-wrapper {
    background-color: white;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &-headers {
    margin-top: 50px;
    max-width: 1200px;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;
    letter-spacing: 0.5px;
    color: #333333;
  }

  &-header {
    margin: 0;
    margin-bottom: 10px;

    &__sm {
      font-weight: 500;
      margin-top: 0px;
      font-size: 30px;
    }
  }

  &-options {
    display: flex;
    flex-direction: row;
    color: #333333;
  }

  &-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      img {
        border-radius: 30px;
        width: 460px;
        height: 490px;
        margin-right: 25px;
        margin-bottom: 7px;
      }
    }

    &__txt {
      border: 1px black solid;
      border-radius: 30px;
      padding: 15px;
      min-width: 320px;
      font-size: 22px;
      line-height: 30px;
      color: #333333;
    }
  }
}